{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}

{% block socials %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content={{ article.title|striptags|tojson }}>
<meta name="twitter:site" content="@io_exception">
<meta name="twitter:description" content="{{ article.content|escape }}">
<meta name="twitter:image" content="https://techlingo-og-image-2.vercel.app/{{ article.title|striptags|just_quote }}.png?text={{ article.content|striptags|quote_plus }}&theme=light&fontSize=100px">
<meta name="twitter:image:alt" content={{ article.content|escape }}>

<meta property="og:type" content="article">
<meta property="og:title" content="{{ article.title|striptags }}">
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
<meta property="og:image" content="https://techlingo-og-image-2.vercel.app/{{ article.title|striptags|just_quote }}.png?text={{ article.content|striptags|quote_plus }}&theme=light&fontSize=100px">
<meta property="og:description" content="{{ article.content|escape }}">
{% endblock %}

{% block head %}
{{ super() }}

{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}

{% if article.description %}
<meta name="description" content="{{article.description}}"/>
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}"/>
{% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
    <div class="container">
        <div class="p-4 mt-2 mb-4 bg-light rounded-3">
            <div class="container-fluid py-2">
                <h1 class="display-4 fw-bold">{{ article.title }} {% if article.acronym %}<small class="text-muted">{{ article.acronym }}</small>{% endif %}</h1>

                <p class="col-8 col-md-12 fs-2">{{ article.content }}</p>
                {% if article.author %}
                <p class="col-md-10 fs-5">
                    <a class="text-muted" href="{{ article.author_url }}">{{ article.author }}</a>
                </p>
                {% endif %}

                {% if article.tags %}
                <p class="col-md-10 fs-5">
                    {% for tag in article.tags %}
                    <span class="badge bg-dark text-light"><a class="text-reset" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
                    {% endfor %}
                </p>
                {% endif %}
                <div class="col-md-8">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="basic-addon1">permalink</span>
                        <input type="text" disabled class="form-control" aria-label="Username"
                               value="{{ SITEURL }}/{{ article.url }}"
                               aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
