{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
{{ super() }}

{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}

{% if article.description %}
<meta name="description" content="{{article.description}}"/>
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}"/>
{% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
    <div class="container">
        <div class="p-2 mt-2 mb-4 bg-light rounded-3">
            <div class="container-fluid py-2">
                <h1 class="display-4 fw-bold">{{ article.title }}</h1>
                <p class="col-8 col-md-12 fs-2">{{ article.content }}</p>
                {% if article.authors %}
                <p class="col-md-10 fs-5">
                    {% for author in article.authors %}
                    <a class="text-muted" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                </p>
                {% endif %}

                {% if article.tags %}
                <p class="col-md-10 fs-5">
                    {% for tag in article.tags %}
                    <span class="badge bg-dark text-light"><a class="text-reset" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
                    {% endfor %}
                </p>
                {% endif %}

                <div class="col-md-8">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="basic-addon1"><i data-feather="share-2"></i></span>
                        <input type="text" disabled class="form-control" aria-label="Username"
                               value="{{ SITEURL }}/{{ article.url }}"
                               aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
