{% extends "base.html" %}
{% block content %}
<section id="content">

    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 690px;">

        {% for letter, articles in articles_page.object_list|groupby('initial') %}
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body p-0 m-0">
                    <h5 class="card-title visually-hidden">{{letter}}</h5>
                    <ul class="list-group list-group-flush">
                        {% for term_id, articles in articles|groupby('id') %}
                        <li class="list-group-item">
                            <b class="term">{{ articles[0].title }}</b>
                            {% for article in articles %}
                            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" class="link-dark text-lowercase"
                               title="Permalink to {{ article.title|striptags }} in {{ article.language }}">{{
                                article.language }}</a>
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}

        {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
        {% endif %}
    </div>
</section><!-- /#content -->
{% endblock content %}
